
@import "../../node_modules/normalize-scss/sass/normalize";
@include normalize();

$hamburger-layer-color: #ffffff !default;
$hamburger-padding-x: 5px !default;
@import "./hamburgers/hamburgers";



.container {
  background-image: url('../img/bitmap.png');
  background-repeat: no-repeat;
  width: 320px;

  /*@media only screen
         and (min-device-width : 414px)
         and (max-device-width : 736px) {
     width: 100%;
  }*/


  //margin: auto;
  object-fit: contain;
  padding-top: 15px;

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: normal;
  color: #3f4b57;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: 53px 53px;

  width: 53px;
  height: 53px;
  margin-left: 12px;
}

.logo img {
  width: 53px;
  height: 53px;
}

.menu {
  display: block;
  position: absolute;
  background-color: blue;
}

.menu.close {
  display:none;
}

.auth {
  display: none;
}

.promo {
  padding-left: 23px;
  margin-bottom: 33px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #475965;
  }

  &__text {
    margin-bottom: 22px;
    color: #475965;
  }

  &__action {
    text-align: center;
  }
}

.button {
  display: inline-block;
  border-radius: 26.3px;
  box-shadow: 0 5px 6px 0 rgba(0, 62, 76, 0.24);
  background-image: linear-gradient(103deg, #ff7777, #d5689c);

  text-decoration: none;
  font-weight: 700;
  line-height: 1.85;

  color: #ffffff;

  padding: 14px 27px;

  &--flat {
    padding: 10px 40px;
    text-align: center;
  }

  &__center-container {
    text-align: center;
  }

  &--margintop {
    margin-top: 27px;
  }

  &__text {

  }
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 35px;
  margin-left: 10px;
  margin-right: 10px;

  &__item {
    max-width: 91px;

    &--paddingleft {
      padding-left: 12px;
    }
  }

  &__title {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #61788e;
  }

  &__text {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #61788e;
  }
}

.block {
  padding-left: 15px;
  margin-bottom: 63px;

  &__title {
    font-size: 14px;

    &--center {
      text-align:center;
    }
  }

  &__subtitle {
    font-size: 13px;
    line-height: 23px;
    font-weight: normal;

    margin-bottom: 23px;
  }

  &__text {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    color: #4b4d4f;
    line-height: 19px;
    padding-left: 1px;
    padding-right: 10px;
  }

  &--background-whoweare {
    padding-top: 20px;

    background-image: url('../img/background-whoweare.png');
    background-repeat: no-repeat;
    background-position: 0px -20px;

    padding-bottom: 35px;
  }

  &--background-footer {
    padding-top: 20px;

    background-image: url('../img/background-footer.png');
    background-repeat: no-repeat;
    background-position: 0px -20px;

    padding-bottom: 80px;
  }
}

.feature {
  border-radius: 6.3px;
  box-shadow: 3px 4px 4px 0 rgba(212, 243, 250, 0.5);
  background-color: rgba(255, 255, 255, 0.71);

  font-size: 10px;
  color: #4b4d4f;

  margin-left: 7px;
  margin-right: 22px;
  margin-bottom: 32px;
  padding: 15px 20px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 17px;
  }

  &__text {
    line-height: 15px;
    padding-left: 1px;
  }

  &--track {
    background-image: url("../img/track.png");
    background-repeat: no-repeat;
    background-position: 95% 7%;
    background-size: 27px 24px;
  }

  &--view {
    background-image: url("../img/view.png");
    background-repeat: no-repeat;
    background-position: 95% 7%;
    background-size: 32px 20px;
  }

  &--win {
    background-image: url("../img/win.png");
    background-repeat: no-repeat;
    background-position: 95% 7%;
    background-size: 31px 30px;
  }
}


.testimonial {
  width: 256px;
  border-radius: 6.3px;
  box-shadow: 3px 4px 4px 0 rgba(212, 243, 250, 0.5);
  //background-color: #f3faff;
  background-image: url("../img/testimonials.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  padding-top: 18px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;

  //margin-left: 7px;
  //margin-right: 22px;
  margin-bottom: 32px;

  &__grid {

  }

  &__text {
    font-size: 10px;
    color: #4b4d4f;
    line-height: 15px;
    padding-left: 1px;
    padding-right: 10px;
  }

  &__author {
    font-size: 10px;
    color: #4b4d4f;
    line-height: 15px;
    text-align: right;
    padding-right: 10px;
    font-style: italic;
  }
}


.storie {
  width: 256px;

  border-radius: 6.3px;
  box-shadow: 3px 4px 4px 0 rgba(212, 243, 250, 0.5);
  background-color: #f3faff;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 7px;

  //margin-left: 7px;
  //margin-right: 22px;
  margin-bottom: 32px;

  &__text {
    font-size: 10px;
    color: #4b4d4f;
    line-height: 15px;
    padding-left: 1px;
    padding-right: 10px;
  }
}

.about {
  &__title {
    font-size: 13px;
    line-height: 23px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 23px;
    font-weight: normal;

    margin-bottom: 23px;
  }

  &__text {
    font-size: 11px;
    line-height: 21px;
    color: #4b4d4f;
  }

  &__contact {
    font-size: 12px;
    line-height: 16px;
    color: #4b4d4f;
  }

  &__contact-header {
    font-size: 14px;
    margin-bottom: 0;

    & + .about__subtitle {
      margin-top: 0;
      line-height: 30px;
    }
  }
}


#map {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}




















//
